[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cartogramR"]
	path = cartogramR
	url = https://github.com/cran/cartogramR
	shallow = true
	registered = true
[submodule "ibr"]
	path = ibr
	url = https://github.com/cran/ibr
	shallow = true
	registered = true
